<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
<div id="vcomments"></div>
<script>
    new Valine({
        el: '#vcomments',
        appId: '<%=theme.valine.appId%>',
        appKey: '<%=theme.valine.appKey%>',
        placeholder: '来都来了，评论留下个足迹👣呗',
        path: 'window.location.href',
        avatar: 'mp',
        meta: ['nick','mail','link'],
        pageSize: 12,
        lang: 'zh-CN',
        visitor: false,
        highlight: true,
        avatarForce: false,
        recordIP: true,
        // requiredFields: ['nick','mail'],
        enableQQ: true,
        emojiCDN: '//cdn.jsdelivr.net/gh/wallleap/cdn@latest/emote/cool/',
        emojiMaps: {
            "cool_coolapk_emotion_100_qqdoge": "coolapk_emotion_100_qqdoge.png",
            "cool_coolapk_emotion_1010": "coolapk_emotion_1010.png",
            "cool_coolapk_emotion_1011": "coolapk_emotion_1011.png",
            "cool_coolapk_emotion_1012": "coolapk_emotion_1012.png",
            "cool_coolapk_emotion_1013": "coolapk_emotion_1013.png",
            "cool_coolapk_emotion_1014": "coolapk_emotion_1014.png",
            "cool_coolapk_emotion_1015": "coolapk_emotion_1015.png",
            "cool_coolapk_emotion_1016": "coolapk_emotion_1016.png",
            "cool_coolapk_emotion_1017": "coolapk_emotion_1017.png",
            "cool_coolapk_emotion_1018": "coolapk_emotion_1018.png",
            "cool_coolapk_emotion_1019": "coolapk_emotion_1019.png",
            "cool_coolapk_emotion_101_pyjiaoyi": "coolapk_emotion_101_pyjiaoyi.png",
            "cool_coolapk_emotion_1020": "coolapk_emotion_1020.png",
            "cool_coolapk_emotion_1021": "coolapk_emotion_1021.png",
            "cool_coolapk_emotion_102_fadai": "coolapk_emotion_102_fadai.png",
            "cool_coolapk_emotion_103_nb": "coolapk_emotion_103_nb.png",
            "cool_coolapk_emotion_104": "coolapk_emotion_104.png",
            "cool_coolapk_emotion_105": "coolapk_emotion_105.png",
            "cool_coolapk_emotion_106": "coolapk_emotion_106.png",
            "cool_coolapk_emotion_107": "coolapk_emotion_107.png",
            "cool_coolapk_emotion_108": "coolapk_emotion_108.png",
            "cool_coolapk_emotion_109": "coolapk_emotion_109.png",
            "cool_coolapk_emotion_10_aoman": "coolapk_emotion_10_aoman.png",
            "cool_coolapk_emotion_11_yiwen": "coolapk_emotion_11_yiwen.png",
            "cool_coolapk_emotion_12_wuyu": "coolapk_emotion_12_wuyu.png",
            "cool_coolapk_emotion_13_huaixiao": "coolapk_emotion_13_huaixiao.png",
            "cool_coolapk_emotion_14_bishi": "coolapk_emotion_14_bishi.png",
            "cool_coolapk_emotion_15_fanu": "coolapk_emotion_15_fanu.png",
            "cool_coolapk_emotion_16_tuosai": "coolapk_emotion_16_tuosai.png",
            "cool_coolapk_emotion_17_tushe": "coolapk_emotion_17_tushe.png",
            "cool_coolapk_emotion_18_han": "coolapk_emotion_18_han.png",
            "cool_coolapk_emotion_19_koubi": "coolapk_emotion_19_koubi.png",
            "cool_coolapk_emotion_1_hahaha": "coolapk_emotion_1_hahaha.png",
            "cool_coolapk_emotion_20_qinqin": "coolapk_emotion_20_qinqin.png",
            "cool_coolapk_emotion_21_penxue": "coolapk_emotion_21_penxue.png",
            "cool_coolapk_emotion_22_xiaoyan": "coolapk_emotion_22_xiaoyan.png",
            "cool_coolapk_emotion_23_shui": "coolapk_emotion_23_shui.png",
            "cool_coolapk_emotion_24_wuzuixiao": "coolapk_emotion_24_wuzuixiao.png",
            "cool_coolapk_emotion_25_zaijian": "coolapk_emotion_25_zaijian.png",
            "cool_coolapk_emotion_26_kelian": "coolapk_emotion_26_kelian.png",
            "cool_coolapk_emotion_27_qiang": "coolapk_emotion_27_qiang.png",
            "cool_coolapk_emotion_28_ruo": "coolapk_emotion_28_ruo.png",
            "cool_coolapk_emotion_29_baoquan": "coolapk_emotion_29_baoquan.png",
            "cool_coolapk_emotion_2_jingya": "coolapk_emotion_2_jingya.png",
            "cool_coolapk_emotion_30_ok": "coolapk_emotion_30_ok.png",
            "cool_coolapk_emotion_31_xiaoku": "coolapk_emotion_31_xiaoku.png",
            "cool_coolapk_emotion_32_heiha": "coolapk_emotion_32_heiha.png",
            "cool_coolapk_emotion_33_wulian": "coolapk_emotion_33_wulian.png",
            "cool_coolapk_emotion_34_jizhi": "coolapk_emotion_34_jizhi.png",
            "cool_coolapk_emotion_35_ye": "coolapk_emotion_35_ye.png",
            "cool_coolapk_emotion_36_ku": "coolapk_emotion_36_ku.png",
            "cool_coolapk_emotion_37_doge": "coolapk_emotion_37_doge.png",
            "cool_coolapk_emotion_38_wozuimei": "coolapk_emotion_38_wozuimei.png",
            "cool_coolapk_emotion_39_caidao": "coolapk_emotion_39_caidao.png",
            "cool_coolapk_emotion_3_ciya": "coolapk_emotion_3_ciya.png",
            "cool_coolapk_emotion_40_aixin": "coolapk_emotion_40_aixin.png",
            "cool_coolapk_emotion_41_meigui": "coolapk_emotion_41_meigui.png",
            "cool_coolapk_emotion_42_diaoxie": "coolapk_emotion_42_diaoxie.png",
            "cool_coolapk_emotion_43_heixian": "coolapk_emotion_43_heixian.png",
            "cool_coolapk_emotion_44_pen": "coolapk_emotion_44_pen.png",
            "cool_coolapk_emotion_45_yinxian": "coolapk_emotion_45_yinxian.png",
            "cool_coolapk_emotion_46_nanguo": "coolapk_emotion_46_nanguo.png",
            "cool_coolapk_emotion_47_weiqu": "coolapk_emotion_47_weiqu.png",
            "cool_coolapk_emotion_48_weiweiyixiao": "coolapk_emotion_48_weiweiyixiao.png",
            "cool_coolapk_emotion_49_huanhu": "coolapk_emotion_49_huanhu.png",
            "cool_coolapk_emotion_4_liulei": "coolapk_emotion_4_liulei.png",
            "cool_coolapk_emotion_50_xinsui": "coolapk_emotion_50_xinsui.png",
            "cool_coolapk_emotion_51_chigua": "coolapk_emotion_51_chigua.png",
            "cool_coolapk_emotion_52_hejiu": "coolapk_emotion_52_hejiu.png",
            "cool_coolapk_emotion_53_pu": "coolapk_emotion_53_pu.png",
            "cool_coolapk_emotion_54_hongyaowan": "coolapk_emotion_54_hongyaowan.png",
            "cool_coolapk_emotion_55_lvyaowan": "coolapk_emotion_55_lvyaowan.png",
            "cool_coolapk_emotion_56_dogexiaoku": "coolapk_emotion_56_dogexiaoku.png",
            "cool_coolapk_emotion_57_dogehechi": "coolapk_emotion_57_dogehechi.png",
            "cool_coolapk_emotion_58_dogeyuanliangta": "coolapk_emotion_58_dogeyuanliangta.png",
            "cool_coolapk_emotion_59_erha": "coolapk_emotion_59_erha.png",
            "cool_coolapk_emotion_5_keai": "coolapk_emotion_5_keai.png",
            "cool_coolapk_emotion_61_lvmao": "coolapk_emotion_61_lvmao.png",
            "cool_coolapk_emotion_62_huaji": "coolapk_emotion_62_huaji.png",
            "cool_coolapk_emotion_60_kuan": "coolapk_emotion_60_kuan.png",
            "cool_coolapk_emotion_63_liuhanhuaji": "coolapk_emotion_63_liuhanhuaji.png",
            "cool_coolapk_emotion_64_shounuehuaji": "coolapk_emotion_64_shounuehuaji.png",
            "cool_coolapk_emotion_65_coshuaji": "coolapk_emotion_65_coshuaji.png",
            "cool_coolapk_emotion_66_doujiyanhuaji": "coolapk_emotion_66_doujiyanhuaji.png",
            "cool_coolapk_emotion_67_mojinghuaji": "coolapk_emotion_67_mojinghuaji.png",
            "cool_coolapk_emotion_68": "coolapk_emotion_68.png",
            "cool_coolapk_emotion_69": "coolapk_emotion_69.png",
            "cool_coolapk_emotion_6_weixiao": "coolapk_emotion_6_weixiao.png",
            "cool_coolapk_emotion_70": "coolapk_emotion_70.png",
            "cool_coolapk_emotion_71": "coolapk_emotion_71.png",
            "cool_coolapk_emotion_72": "coolapk_emotion_72.png",
            "cool_coolapk_emotion_73": "coolapk_emotion_73.png",
            "cool_coolapk_emotion_74": "coolapk_emotion_74.png",
            "cool_coolapk_emotion_75": "coolapk_emotion_75.png",
            "cool_coolapk_emotion_76": "coolapk_emotion_76.png",
            "cool_coolapk_emotion_77": "coolapk_emotion_77.png",
            "cool_coolapk_emotion_78": "coolapk_emotion_78.png",
            "cool_coolapk_emotion_79": "coolapk_emotion_79.png",
            "cool_coolapk_emotion_7_hehe": "coolapk_emotion_7_hehe.png",
            "cool_coolapk_emotion_80": "coolapk_emotion_80.png",
            "cool_coolapk_emotion_81_naikezui": "coolapk_emotion_81_naikezui.png",
            "cool_coolapk_emotion_82_miaomiao": "coolapk_emotion_82_miaomiao.png",
            "cool_coolapk_emotion_83_huoba": "coolapk_emotion_83_huoba.png",
            "cool_coolapk_emotion_84_baiyan": "coolapk_emotion_84_baiyan.png",
            "cool_coolapk_emotion_85": "coolapk_emotion_85.png",
            "cool_coolapk_emotion_86": "coolapk_emotion_86.png",
            "cool_coolapk_emotion_87": "coolapk_emotion_87.png",
            "cool_coolapk_emotion_88": "coolapk_emotion_88.png",
            "cool_coolapk_emotion_89": "coolapk_emotion_89.png",
            "cool_coolapk_emotion_8_piezui": "coolapk_emotion_8_piezui.png",
            "cool_coolapk_emotion_90": "coolapk_emotion_90.png",
            "cool_coolapk_emotion_91": "coolapk_emotion_91.png",
            "cool_coolapk_emotion_92": "coolapk_emotion_92.png",
            "cool_coolapk_emotion_93": "coolapk_emotion_93.png",
            "cool_coolapk_emotion_94": "coolapk_emotion_94.png",
            "cool_coolapk_emotion_95_erhading": "coolapk_emotion_95_erhading.png",
            "cool_coolapk_emotion_96_kuanlvmao": "coolapk_emotion_96_kuanlvmao.png",
            "cool_coolapk_emotion_97_haixiu": "coolapk_emotion_97_haixiu.png",
            "cool_coolapk_emotion_98_wunai": "coolapk_emotion_98_wunai.png",
            "cool_coolapk_emotion_99_zhoumei": "coolapk_emotion_99_zhoumei.png",
            "cool_coolapk_emotion_9_se": "coolapk_emotion_9_se.png",
            "cool_c_coolb": "c_coolb.png",
            "cool_c_fived": "c_fived.png",
            "cool_c_fivef": "c_fivef.png",
            "cool_c_fivem": "c_fivem.png",
            "cool_c_fiveo": "c_fiveo.png",
            "cool_c_fivey": "c_fivey.png",
            "cool_c_fy": "c_fy.png",
            "cool_c_oned": "c_oned.png",
            "cool_c_onef": "c_onef.png",
            "cool_c_onem": "c_onem.png",
            "cool_c_oneo": "c_oneo.png",
            "cool_c_oney": "c_oney.png",
            "cool_c_oy": "c_oy.png",
            "cool_c_teny": "c_teny.png",
            "cool_c_twod": "c_twod.png",
            "cool_c_twof": "c_twof.png",
            "cool_c_twom": "c_twom.png",
            "cool_c_twoo": "c_twoo.png",
            "cool_c_twoy": "c_twoy.png",
            "cool_c_ty": "c_ty.png",
            // ... 更多表情
        } 
    })
</script>